body {
  font-family: arial;
  background: linear-gradient(
    90deg,
    rgba(58, 179, 180, 1) 0%,
    rgba(253, 29, 131, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
h1 {
  font-weight: bold;
  color: #11347a;
  font-family: "Merienda One", cursive;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  font-family: "Merienda One", cursive;
  list-style: none;
  color: rgb(68, 67, 67);
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  background-color: white;
  font-family: "Merienda One", cursive;
  padding: 25px;
  border: 1px solid #dadde1;
  border-radius: 15px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(3, 3, 3);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}
a {
  text-decoration: none;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 25px;
  text-align: center;
  color: #000000;
}

.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperatures {
  font-size: 13px;
  opacity: 0.6;
}

p {
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 300px;
}
